<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Tipos de Productos <i class="fa fa-spin fa-spinner" ng-show="loading" aria-hidden="false"></i></h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" ng-model="buscador" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <div class="input-group">
                    <input type="text" name="q" ng-model="tipoProductoText" class="form-control" placeholder="Ingrese Tipo de Producto">
                        <span class="input-group-btn">
                          <button type="submit" name="search" ng-disabled="!tipoProductoText" ng-click="crearTipoProducto()" id="search-btn" class="btn btn-success btn-flat"><i class="fa fa-plus"></i>
                            Agregar
                          </button>
                        </span>
                  </div>
                <hr>
                <table class="table table-hover" at-table at-paginated at-list="tipoProducto | filter: buscador" at-config="configTable">
                    <thead>
                        <tr>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td at-implicit at-sortable at-attribute="tipo"></td>
                            <td><a href="" ng-click="openModalEditarTipoProducto(item)" class="btn btn-warning btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                <a href="" ng-click="eliminarProducto(item.id)" class="btn btn-danger btn-xs"> <span class="fa fa-trash-o"></span> Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
                <at-pagination at-list="tipoProducto" at-config="configTable" class="pagination pagination-sm no-margin pull-right"></at-pagination>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<div class="modal fade" id="modalEditarTipoProducto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar Producto</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="formProducto">
                    <input type="hidden" ng-model="id" class="form-control" id="producto_id" placeholder="id">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="tipo" class="col-sm-2 control-label">Tipo</label>

                            <div class="col-sm-10">
                                <input type="text" ng-model="tipo" class="form-control" id="tipo" placeholder="Tipo">
                            </div>
                        </div>                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" ng-disabled="!tipo || loading" ng-click="editarTipoProducto()" class="btn btn-primary">Editar producto <i class="fa fa-spin fa-spinner" ng-show="loading" aria-hidden="false"></i></button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->