<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Ventas <i class="fa fa-spin fa-spinner" ng-show="loading" aria-hidden="false"></i></h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" ng-model="buscador" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-hover" at-table at-paginated at-list="ventas | filter: buscador" at-config="configTable">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cliente</th>
                            <th>Cantidad</th>
                            <th>Precio de Venta</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td at-implicit at-sortable at-attribute="nombre"></td>
                            <td at-implicit at-sortable at-attribute="nombre_cliente"></td>
                            <td at-implicit at-sortable at-attribute="cantidad"></td>
                            <td at-implicit at-sortable at-attribute="precio_venta"></td>
                            <td><a href="" ng-click="openModalEditarProducto(item)" class="btn btn-warning btn-xs"><span class="fa fa-edit"></span> Editar</a>
                                <a href="" ng-click="eliminarProducto(item.id)" class="btn btn-danger btn-xs"> <span class="fa fa-trash-o"></span> Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
                <at-pagination at-list="ventas" at-config="configTable" class="pagination pagination-sm no-margin pull-right"></at-pagination>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>